/* 重置默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

body,
html {
  -webkit-app-region: drag;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  -webkit-app-region: none;
}

input:focus {
  border-color: #007bff;
  outline: none;
}
button:not(.total-close-btn) {
  /* 移除固定的最小宽度和最大宽度 */
  min-width: auto; /* 自动计算最小宽度 */
  max-width: none; /* 取消最大宽度限制 */
  
  /* 确保按钮能够适应内容的大小 */
  white-space: nowrap; /* 防止文本换行 */
  padding: 0.75rem; /* 内边距 */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-app-region: none;
}

button:not(.total-close-btn):hover {
  background-color: #0056b3;
}

/* 链接 */
p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-app-region: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 50%;
  width: 90%;
}

.modal-content p {
  margin-bottom: 1.5rem;
  color: #333;
}

.modal-content input {
  width: calc(100% - 2rem);
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.modal-content input:focus {
  border-color: #007bff;
  outline: none;
}

.modal-content .buttons-container {
  display: flex;
  justify-content: space-around;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin: 0.5rem;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button.cancel {
  background-color: #dc3545;
}

.modal-content button.cancel:hover {
  background-color: #c82333;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.total-close-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0px;
  right: 0px;
  border: none;
  cursor: pointer;
  z-index: 1000;
  background-color: #e4e4e4;
  -webkit-app-region: none;
}

/* 绘制叉号 */
.total-close-btn::before,
.total-close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: rgb(7, 7, 7);
}
.total-close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.total-close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 悬停效果 */
.total-close-btn:hover {
  background-color: red;
}

/* 更新叉号颜色为白色以适应背景变化 */
.total-close-btn:hover::before,
.total-close-btn:hover::after {
  background-color: #f4f4f4;
}