@charset "UTF-8";
html,
body {
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
	min-height: 0;
	min-width: 0;
}

.mcontainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(../images/bg.jpg) no-repeat center center / 100% 100%;
	display: grid;
	grid-template-rows: 1fr 17fr;
	overflow: hidden; 
}



/* 标题区域 */
.mcontainer .main-title {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 0px;
	font-size: 2.5vh;
	color: rgba(14, 253, 255, 1);
	font-weight: bold;
	overflow: hidden; 
}

.mcontainer .main-content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	overflow: hidden; 
}


.main-content .leftMain {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	overflow: hidden; 
}

.main-content .rightMain {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	overflow: hidden; 
}
.leftMain .leftMain_top{
	width: 100%;
	height: 100%;
	padding: 4%;
}
.leftMain_top .graphic-container{
	width: 100%;
	height: 150%;
	border: 2px solid rgb(30, 124, 155); /* 浅蓝色边框 */
	border-radius: 10px; /* 圆角边框 */

}
.leftMain .leftMain_bottom{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.leftMain_bottom .chartmain_line{
	width: 100%;
	height: 100%;
	padding: 4%;
}
.leftMain_bottom .scroll-notices{
	width: 100%;
	height: 80%;
	padding: 4%;
	overflow-y: hide;
}
#notice-list {
    list-style-type: none;
    padding: 0;
}
#notice-list li {
    padding: 5px;
	color:aliceblue;
	background-color: rgba(240, 70, 43,0.5);
    border-bottom: 1px solid #1a1818;
	border-radius: 10px;
}
.chartmain_histogram,
.chartmain_line,
#chartmain_pie {
    width: 100%;
    height: 100%;
	min-height: 0; 
}


.rightMain .rightMain_top {
	width: 100%;
	height: 100%;
	align-items: center;
	padding: 5%;
}
.rightMain_top #chartmain_pie{
	width: 100%;
	height: 100%;
	padding: 5%;
	border: 2px solid rgb(30, 124, 155); /* 浅蓝色边框 */
	border-radius: 10px; /* 圆角边框 */
}
.rightMain .rightMain_bottom {
	width: 100%;
	height: 100%;
	align-items: center;
	padding: 5%;
}
.rightMain_bottom .list{
	width: 100%;
	height: 100%;
	padding: 5%;
	display: grid;
	grid-template-rows:1fr 1fr 1fr 1fr;
	border: 2px solid rgb(30, 124, 155); /* 浅蓝色边框 */
	border-radius: 10px; /* 圆角边框 */
}
.list ul{
	padding: 1%;
	color:aliceblue;
	list-style-type: none;
}
.list ul li{
	padding: 1%;
	border-bottom: 1px solid #1a1818;
}