@charset "UTF-8";
html,
body {
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
	min-height: 0;
	min-width: 0;
}
/* CSS Document */
.mcontainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url(../images/bg.jpg) no-repeat center center / 100% 100%;
	display: grid;
	grid-template-rows: 1fr 17fr;
	overflow: hidden; 
}

/* 标题区域 */
.mcontainer .main-title {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 0px;
	font-size: 2.5vh;
	color: rgba(14, 253, 255, 1);
	font-weight: bold;
	overflow: hidden; 
}

.mcontainer .main-content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	overflow: hidden; 
}


.main-content .leftMain {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 2fr 8fr;
	/* background-color: rgb(93, 22, 22); */
	overflow: hidden; 
}

.main-content .rightMain {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	overflow: hidden; 
}

.leftMain .leftMain_top {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden; 
	justify-content: space-around;
}
.leftMain_top li {
	align-items: center;
    /* 初始基础尺寸，可根据需要调整 */
    flex-basis: 33.333%; 
    /* 允许收缩 */
    flex-shrink: 1; 
    /* 防止内容撑开 */
    min-width: 0; 
    box-sizing: border-box;
    padding: 2px; /* 可根据需要调整内边距 */
}

.leftMain_top .data_list {
    /* 可根据需要调整样式 */
    display: block;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.leftMain .leftMain_middle {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	overflow: hidden; 
}

.leftMain_middle .leftMain_middle_top{
	width: 100%;
	height: 100%;
	/* background-color: rgb(245, 24, 201); */
}
.leftMain_middle .leftMain_middle_bottom{
	width: 100%;
	height: 100%;
	/* background-color: rgb(66, 225, 17); */
}
.chartmain_histogram,
.chartmain_line,
#chartmain_pie {
    width: 100%;
    height: 100%;
	min-height: 0; 
}


.rightMain .rightMain_top {
	width: 100%;
	height: 50%;
	align-items: center;
}

.rightMain .rightMain_bottom {
	width: 100%;
	height: 50%;
	align-items: center;
}